.wrapper {
  display: flex;
}

.links_div {
  height: 100vh;
  width: 15vw;
  border-right: 6px solid gray;
  padding-right: 15px;
  padding-left: 7.5px;
}

.main{
  padding-left: 15px;
}

@font-face{
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
body {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono;
  font-size: 2.3em;
}