.links_div{
    height:100vw;
    width: 15%;
    float:left;
    border-right: 6px solid gray;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}

.main{
    width: 75%;
    float:left;
    padding-left: 15px;
    padding-right: 15px;
}

@font-face{
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  body {
      font-family: JetBrainsMono;
}