.links_div{
    height:100vh;
    width: auto;
    float:left;
    border-right: 6px solid gray;
    padding-right: 15px;
}

.main{
    height: 100vh;
    width: 100vh;
    float:left;
    padding-left: 15px;
    padding-right: 15px;
}
